@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
/*GENERAL STUFF =============================== */
.pageHeaders h1{
    margin-left: 5vh;
    text-shadow: 2px 2px #ff0000;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 7em;
}
.page {
    display: block;
    height: 100vh;
}

body {
    background-color: #2F2F2F;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Montserrat;
}
h1 {
    color: #D9D9D9;
}

/*HOME PAGE ==============================*/
.logo {
    margin-left: 0.5%;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4B4B4B;
    padding: 10px;
    margin: 0;
    }

.nav-buttons a {
    margin-right: 10px;
    color: #D9D9D9;
    text-decoration: none;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    margin: 0 5px;
}

.csClubText {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/*PORTFOLIO ==========================*/
.slides {
    justify-content: space-between;
    display: flex;
}
.centerImage {
    flex: 1;
    align-self: center;
    margin-left: 3%;
    margin-right: 3%;
    width: 50vw;
    height: 50vh;
}
.main-text {
    align-self: center;
    text-align: center;

}
.main-text h1 {
    font-size: 10vh
}
.main-text p {
    color: #D9D9D9;
    font-size: 3vh;
    font-weight: lighter;
    margin-left: 10vw;
    margin-right: 10vw;
}

.dots {
    margin-left: 0.1vw;
    margin-right: 0.1vw;
}

.button {
    display: flex;
    flex-shrink: 1;
    align-self: center;
    margin-left: 4%;
    margin-right: 4%;
    align-self: center;
    width: 10vw;
    height: 15vh;
}

.button:hover {
    filter: brightness(75%);
}

/*ROADMAP SECTION ===========================*/
.timeline {
    position: relative;
    text-align: center;
    margin-top:30vh;
}
.timeline img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13vh;
    width: 75vw;
}

.react, .game, .fullstack {
    color: #d9d9d9;
    font-size: 5vw;
    top: 0vh;
}

.react {
    position: absolute;
    left: 6vw;

}

.game {
    position: absolute;
    left: 43vw;
}

.fullstack {
    position: absolute;
    left: 75vw;
}
.react-sub, .game-sub, .fullstack-sub {
    opacity:0;
    position: absolute;
    list-style-type: disc;
    color: #d9d9d9;
    font-size: 1.5vw;
    line-height: 6vh;
    top: 19vh;
    text-align:left;
}

.react-sub {
    left: 5vw;
}
.game-sub {
    left: 31vw;
}
.fullstack-sub {
    left: 65vw;
}
/*CONTACT PAGE ======================================== */

.info h2{
    color: #D9D9D9;
    font-size: 12vh;
    font-weight: 100;
    text-align: right;
    width: 55%;
    margin-right: 1%;
    float: right;
}

.contactInfo {
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 40vw;
    width: 20vw;
}
.contactInfo button{
    width: auto;
    font-weight: bold;
    text-decoration: underline;
    font-size: 3vh;
    color: #D9D9D9;
    padding: 0;
    border: 0;
    background-color: #2F2F2F;
}

.contact {
    position: relative;
}

.formImgs {
    position: relative;
    margin-left: 7%;
    margin-top: 7%;
    display: inline-block;
}

.openButton {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0cm;
    width: auto;
    padding:0;
    
}
.formLink {
    position: relative;
}

.popup {
    z-index: 100000;
    width:70vw;
    height:70vh;
    background: #4f4f4f;
    position: fixed;
    top: 15%;
    left: 15%;
     border-radius: 25px;
}
.blur {
    position: fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background:rgba(0, 0, 0, 0.75);
    z-index: 10000;
  }
  .popup h1 {
    margin-top: 2%;
    text-align: center;
  }
  form {
    text-align: left;
    margin: 0% 5% 5% 5%;
  }
  form label, form input, form textarea, form button {
    color: #D9D9D9;
  }
  form div, form button{
    margin-top: 2%;
  }
  form button {
    text-decoration: none;
    background-color: #2F2F2F;
  }

/*Transition stuff ================================*/
.subtext-enter{
    opacity: 0;
}
.subtext-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.subtext-enter-done {
    opacity: 1;
}
.subtext-exit{
    opacity: 1;
}
.subtext-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
}
.subtext-exit-done {
    opacity: 0;
}