@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
/*Mobile view*/
@media screen and (orientation: portrait) {
  body .logo {
    width: 20vw;
  }
  body .nav-buttons a {
    font-size: 4vw;
  }

  body .page-header {
    text-align: center;
    margin-left: 0;
    padding-top: 0.5rem;
    font-size: 15vw;
  }
  body .full-body {
    margin-top: 6vh;
  }
  body .center-image {
    max-width: 70vw;
  }

  body button {
    padding-inline: 0px;
    padding-block: 0px;
  }
  body .arrow {
    margin-left: 3vw;
    margin-right: 3vw;
    width: 15vw;
    height: 5vh;
  }

  body .main-text h1 {
    font-size: 10vw;
  }

  body .main-text p {
    font-size: 5vw;
  }

  body .timeline {
    margin-top: 7vh;
    flex-direction: row;
    justify-content: space-around;
  }
  body .timeline-section {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
  }
  body .timeline-div {
    width: auto;
  }
  body .timeline img {
    height: 70vh;
    width: auto;
    margin: 0;
  }

  body .frontend-sub,
  body .backend-sub,
  body .fullstack-sub {
    text-align: left;
    font-size: 3vw;
    line-height: 4vh;
  }
  body .info {
    width: 100%;
    font-size: 5vh;
    text-align: left;
  }
  body .form-images {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
  }
  body .form-lin k {
    position: relative;
    max-width: 100vw;
    max-height: 50vh;
  }
  /*TODO: make full-body centered vertically*/
}

/*General*/
body {
  background-color: #2f2f2f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Montserrat;
}

h1 {
  color: #d9d9d9;
}

.page-header {
  margin-left: 5vh;
  text-shadow: 2px 2px #ff0000;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 8vw;
}

.page {
  display: block;
  min-height: 100vh;
}

/*Home page*/
.logo {
  margin-left: 0.5%;
  padding: 0;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4b4b4b;
  padding-right: 1vw;
  margin: 0;
}

.nav-buttons a {
  margin-right: 10px;
  color: #d9d9d9;
  text-decoration: none;
  font-size: 2vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0 1vw;
}

.cs-club-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/*Portfolio*/
.full-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dots {
  align-self: center;
}

.slides {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.center-image {
  align-self: center;
  max-width: 45vw;
}

.main-text {
  align-self: center;
  text-align: center;
}

.main-text h1 {
  font-size: 5vw;
}

.main-text p {
  color: #d9d9d9;
  font-size: 1.5vw;
  font-weight: lighter;
  margin-left: 10vw;
  margin-right: 10vw;
}

.arrow {
  align-self: center;
  width: 8vw;
  height: 5vh;
  background-color: transparent;
  border: none;
}

.arrow:hover {
  filter: brightness(75%);
}

/*Roadmap*/
.timeline {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
}

.timeline img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

.timeline-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-start;
}

.timeline-div ul,
.time {
  margin-bottom: 0;
  padding-left: 0;
}

.timeline-div {
  width: 33.33%;
}

.frontend,
.backend,
.fullstack {
  color: #d9d9d9;
  font-size: 5vw;
  text-align: center;
}

.frontend-sub,
.backend-sub,
.fullstack-sub {
  margin-bottom: auto;
  opacity: 0;
  color: #d9d9d9;
  font-size: 1.5vw;
  line-height: 6vh;
  text-align: center;
  list-style-position: inside;
}

/*Contact page*/
.information {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.info {
  color: #d9d9d9;
  font-size: 6vw;
  font-weight: 100;
  text-align: right;
  width: 55%;
  margin-right: 1%;
  float: right;
}

.info span {
  white-space: nowrap;
}

.question-button {
  align-self: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 3vh;
  color: #d9d9d9;
  padding: 0;
  border: 0;
  background-color: #2f2f2f;
}

.form-images {
  position: relative;
  margin-left: 4%;
  margin-top: 4%;
  display: inline-block;
}

.open-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0cm;
  width: auto;
  padding: 0;
}

.form-link {
  position: relative;
  height: 50vh;
  width: 35vw;
}

.popup {
  z-index: 100000;
  width: 70vw;
  height: 70vh;
  background: #4f4f4f;
  position: fixed;
  top: 15%;
  left: 15%;
  border-radius: 25px;
}

.blur {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10000;
}

.popup h1 {
  margin-top: 2%;
  text-align: center;
}

form {
  margin: 0% 5% 5% 5%;
}

form label,
form input,
form textarea,
form button {
  color: #d9d9d9;
}

form div,
form button {
  margin-top: 2%;
}

form button {
  text-decoration: none;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #cf2c2c;
  --bs-btn-border-color: #cf2c2c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #be2929;
  --bs-btn-hover-border-color: #ad2626;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ad2626;
  --bs-btn-active-border-color: #a82525;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #cf2c2c;
  --bs-btn-disabled-border-color: #cf2c2c;
}

.x {
  position: fixed;
  right: 14.5%;
  top: 16%;
  border: none;
  background-color: transparent;
}

/*Transition helpers*/
body .subtext-enter {
  opacity: 0;
}

body .subtext-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

body .subtext-enter-done {
  opacity: 1;
}

body .subtext-exit {
  opacity: 1;
}

body .subtext-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

body .subtext-exit-done {
  opacity: 0;
}
